@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom small utilities */
:root {
  --bg: #f8fafc;
}

/* body styles for light/dark handled with classes */
html, body, #root { height: 100%; }
body { @apply bg-white text-slate-800 antialiased; }

.container { @apply max-w-6xl mx-auto px-6; }
.card { @apply bg-white dark:bg-slate-800 shadow-md rounded-2xl p-6; }

/* small form focus shadow */
.input-focus:focus {
  box-shadow: 0 6px 18px rgba(14,165,164,0.12);
}


@keyframes borderGlow {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  25% {
    clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(100% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 100%);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.animate-borderGlow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #3b82f6; /* blue-400 */
  border-radius: 0.5rem;
  opacity: 1;
  pointer-events: none;
  animation: borderGlow 1.5s linear infinite;
}
